#bgperrito{ 
    background-image: url('../../img/veterinaria.jpg');
    background-size: 100%;
    background-repeat: repeat;
    background-position: 100%;
}



@media only screen and (max-width: 600px) {
    #bgperrito {
        background-position: 90%;
        background-size: cover;
    }
   
}